<%= javascript_include_tag "jquery.ba-jqmq.js"  %>
<%= javascript_include_tag "jquery.progressbar.min.js"  %>


<script type="text/javascript">
  var action="/postar";
  var followin = "";

  function seguir_action(promotor){
    action="/seguir";
    followin = promotor;
    postar();
  };


  function postar(){

    $(function(){
      // Create a new queue.
      window.queue = $.jqmq({
        // Next item will be processed only when queue.next() is called in callback.
        delay: -1,
        // Process queue items one-at-a-time.
        batch: 1,
        // For each queue item, execute this function, making an AJAX request. Only
        // continue processing the queue once the AJAX request's callback executes.
        callback: function( item ) {
          
          progress(item);

          if (action == "/postar"){
            var action_url = "/postar?count="+item+"&tweet=<%= @tweeturl %>";
          }
          else {
            var action_url = "/seguir?count="+item+"&nick="+followin;
          }
          $.post( action_url, function(data){

            $('#result_list').prepend(data);
            // If the request was unsuccessful, make another attempt.
            if(data!="done"){
              queue.next();
            }
            else {
              progress(<%= @max %>);
              queue.clear();
            };
          });
        },
        // When the queue completes naturally, execute this function.
        complete: function(){
          $('#result_list').append( '<span class="done">COMPLETO<\/span>' );
        }
      });
      // Disable AJAX caching.
      $.ajaxSetup({ cache: false });

      queue.add(<%= count=0 %>);
<% while count<=@max do %>
    <% count+=5 %>
          queue.add(<%= count %>);
  <% end %>
        queue.start();
      });
    };


    function atualizar_tweet(){
      $("#enviar_button").hide();
      $("#atualizar_button").show();
      var newtweet = encodeURIComponent($("#tweet").val());
      //newtweeturl = escape(newtweet);
      $("#atualizar_button").attr("href","/promoves?count=0&tweet="+newtweet);
    };


    function progress(quant){
      var total=<%= @max %>;
      var percentage = Math.floor(100 * parseInt(quant) / parseInt(total));
      $('#progressbar').progressBar(percentage);
    };
  </script>




  <div id="text">
    <h1>Enviar Tweets</h1>

    <fieldset>
      <legend>Tweet</legend>
      <%= text_area_tag "tweet", @tweet,:id=>"tweet",:cols=>70,:onKeyUp=>"atualizar_tweet()" %>
    </fieldset>
    <table border="0" cellspacing="0">
      <tr>
        <td>
          <%= link_to "Enviar","javascript:void(0)",:onclick=>"postar()",:class=>"button",:id=>"enviar_button" %>
          <%= link_to "Atualizar","/promoves?count=#{@count}&tweet=#{@tweet}",:class=>"button",:id=>"atualizar_button",:style=>"display:none;" %>
        </td>
        <td>
          <div id="progressbar" style="padding: 30px;"></div>
        </td>
      </tr>
    </table>

    <fieldset>
      <legend>Resultado</legend>
      <select multiple size="15" style="width: 500px;background-color:black;color: #048BC1;" id="result_list">
      </select>
    </fieldset>
    <%= render :partial=>"follow",:locals=>{:promoters=>@promoters} %>
  </div>