<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Author: Reality Software
Website: http://www.realitysoftware.ca
Note: This is a free template released under the Creative Commons Attribution 3.0 license,
which means you can use it in any way you want provided you keep the link to the author intact.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Tweepromo 2.1 </title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag "jquery.js" %>
    <link REL="SHORTCUT ICON"  href="favicon.ico" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4882704-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  </head>
  <body>
    <!-- header -->
    <div id="header">
      <div id="logo"><a href="#">Tweepromo 2.1</a></div>
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/promocoes">Promoções</a></li>
          <li><a href="/promoves">Promoves</a></li>
          <li><a href="/users">Usuarios</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <!--end header -->
    <!-- main -->
    <div id="main">
      <div id="content">
        <div id="sidebar">
          <div id="sidebar_top"></div>

          <div id="sidebar_text">
            <% if logged_in?  %>
              <p><%= image_tag current_user.profile_image_url %></p>
              <h2><%= link_to current_user.login,"http://twitter.com/#{current_user.login}" %></h2>
              <% else %>
                <%= link_to image_tag("login.png",:border=>"0"),login_path,:alt=>"A Curiosidade matou o gato" %>
            <% end %>
          </div>


          <div id="sidebar_bottom"></div>
        </div>

        <p style="color: green"><%= flash[:notice] %></p>

        <%= yield %>

      </div>



      <!-- footer -->
      <div id="footer">
        <div id="left_footer">&copy; Copyright 2011<a href="http://www.redrails.com.br" title="RedRails Blog"><strong> RedRails </strong>blog</a> </div>
        <div id="right_footer">
          <a href="http://br.web-counter.net" title="contador de visitas"><img src="http://www.web-counter.net/count_20091204.php?c=JRcxG91PvLQ" style="border:0;padding:0;margin:0;" alt="contador de visitas" /></a><br/><font size="1" face="Arial"><a href="http://fr.web-counter.net" title="compteur de visite">compteur de visite</a></font>
        </div>
      </div>
      <!-- end footer -->
    </div>
    <!-- end main -->

  </body>
</html>
